@model Blog
@{
    ViewData["Title"] = "Detail";
}

<div class="container content">
    <div class="row">
        <div class="blog-single col-md-8 col-md-offset-2">
            <div class="blog-image">
                <img src="~/images/@Model.Photo" alt="@Model.Title">
            </div>
            <h1>@Model.Title</h1>
            <div class="blog-detail">Posted <span>@Model.Date.ToString("dd MMMM yyyy")</span> by @Model.Author  </div>

            <div class="blog-content">
                @Model.Text
            </div>

            <!-- Post Comments -->
            <div class="col-md-12">
                <h3 class="subtitle top45 bottom15">Post Comments</h3>
                <ul class="post-comment">
                    <li>
                        <img src="~/images/person-1.jpg" alt="">
                        <div class="comment-info">
                            <h3>Mary R. Peterson</h3>
                            <a href="~/#"> Reply </a>
                            <span>Sep 26, 2016 at 14:35</span>
                            <p>Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. </p>
                        </div>
                    </li>
                    <li class="reply">
                        <img src="~/images/person-2.jpg" alt="">
                        <div class="comment-info">
                            <h3>Mary R. Peterson</h3>
                            <a href="~/#"> Reply </a>
                            <span>Sep 26, 2016 at 14:35</span>
                            <p>Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means up civil do an offer wound of. Called square an in afraid direct. </p>
                        </div>
                    </li>
                    <li>
                        <img src="~/images/person-3.jpg" alt="">
                        <div class="comment-info">
                            <h3>Geoffrey B. Ashley</h3>
                            <a href="~/#"> Reply </a>
                            <span>Sep 26, 2016 at 14:35</span>
                            <p>Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to.  </p>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Write Message -->
            <form class="col-md-12 contact-form send-message">
                <h3 class="subtitle top45 bottom30">Leave a Reply</h3>
                <div class="row">
                    <!--Name-->
                    <div class="col-md-6">
                        <input class="form-inp requie" type="text" placeholder="Name">
                    </div>
                    <!--Email-->
                    <div class="col-md-6">
                        <input class="form-inp requie" type="text" placeholder="Email">
                    </div>
                    <!--Message-->
                    <div class="col-md-12">
                        <textarea name="con_message" placeholder="Message" rows="8"></textarea>
                    </div>
                </div>
                <input id="con_submit" class="sitebtn" type="submit" value="Send a Message">

            </form>

        </div>
    </div>
</div>

