@model List<Blog>
@{
    ViewData["Title"] = "Index";

}

<div class="container content">
    <div class="row blog">
        @foreach (var blog in Model)
        {
            <a href="@Url.Action("Detail", "Blog",  new { slug = blog.Slug })" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-image">
                    <img src="images/@blog.Photo">
                </div>
                <h2 class="blog-title">@blog.Title</h2>
                <p>@(blog.Text.Length > 120 ? blog.Text.Substring(0, 120) + "..." : blog.Text)</p>
                <span class="blog-info"><span>@blog.Author </span>@blog.Date.ToString("dd MMMM yyyy")</span>
            </a>
        }
       
    </div>
</div>