@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
<!--HOME-->
<section class="home" id="home">
    <div class="home-content">
        <div class="container">
            <h1>we are <span class="element" data-text1="programmer" data-text2="troubleshooter" data-loop="true" data-backdelay="3000"></span></h1>
            <div class="social">
                @foreach (var social in Model.Socials)
                {
                    <a href="@social.Url"><i class="fa @social.Icon" aria-hidden="true"></i>  </a>
                }
            </div>
            <a class="home-down bounce" href="#about"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <svg class="diagonal home-left" width="21%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 100 L100 100 L0 10 Z"></path>
    </svg>
    <svg class="diagonal home-right" width="80%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 100 L100 100 L100 10 Z"></path>
    </svg>
</section>
<!--ABOUT-->
<section class="about dgray-bg" id="about">
    <div class="about type-1 padbot_120">
        <div class="container">
            <!-- about image -->
            <div class="col-md-4 col-sm-12 about-image top_30 wow fadeInUp" data-wow-delay="0.4s">
                <div class="row">
                    <img src="images/@Model?.About?.Photo" alt="">
                </div>
            </div>
            <!-- about text -->
            <div class="col-md-7 col-md-offset-1 col-sm-12 about-text wow fadeInUp" data-wow-delay="0.6s">
                <div class="section-title dleft bottom_30">
                    <br>
                    <h2>ABOUT US</h2>
                </div>
                <p>
                    @Model?.About?.Text
                </p>
            </div>

            <!-- work areas -->
            <div class="owl-carousel work-areas top_120 bottom_120 wow fadeInUp" data-pagination="false" data-autoplay="3000" data-items-desktop="3" data-items-desktop-small="3" data-items-tablet="2" data-items-tablet-small="1" data-wow-delay="0.4s">
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon">
                        <i data-icon="1" class="icon"></i>
                    </div>
                    <div class="text">
                        <h6>Web Design</h6>
                        <p>Cloud agency follows the latest design standards to deliver a beautiful and functional digital product.</p>
                    </div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon">
                        <i data-icon="!" class="icon"></i>
                    </div>
                    <div class="text">
                        <h6>Branding Identity</h6>
                        <p>We will make you a brand that is catchy and leaves a trace. Your target group will never forget you.</p>
                    </div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon">
                        <i data-icon="#" class="icon"></i>
                    </div>
                    <div class="text">
                        <h6>Illustrator</h6>
                        <p>I ought to just try that with my boss; I'd get kicked out on the spot. But who knows, maybe that would be the best thing me. </p>
                    </div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon">
                        <i data-icon="1" class="icon"></i>
                    </div>
                    <div class="text">
                        <h6>Web Design</h6>
                        <p>Cloud agency follows the latest design standards to deliver a beautiful and functional digital product.</p>
                    </div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon">
                        <i data-icon="!" class="icon"></i>
                    </div>
                    <div class="text">
                        <h6>Branding Identity</h6>
                        <p>We will make you a brand that is catchy and leaves a trace. Your target group will never forget you.</p>
                    </div>
                </div>
                <!-- an area -->
                <div class="area col-md-12 item">
                    <div class="icon">
                        <i data-icon="#" class="icon"></i>
                    </div>
                    <div class="text">
                        <h6>Illustrator</h6>
                        <p>I ought to just try that with my boss; I'd get kicked out on the spot. But who knows, maybe that would be the best thing me. </p>
                    </div>
                </div>
            </div>
        </div>
        <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L70 100 L100 0 Z"></path>
        </svg>
    </div>
</section>

<!--PORTFOLIO-->
<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="section-title dleft top_120 bottom_90">
            <h2>PORTFOLIO</h2>
            <div class="portfolio_filter">
                <ul>
                    <li class="select-cat" data-filter="*">All</li>
                    @foreach (var item in Model.PortfolioCategories)
                    {
                        <li data-filter="@item.DataFilter">@item?.Name</li>
                    }
                    @*<li data-filter=".web-design">Web Design</li>
                    <li data-filter=".aplication">Applications</li>
                    <li data-filter=".development">Development</li>*@
                </ul>
            </div>
        </div>
        <!--Portfolio Items-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="isotope_items row">
                    <!-- Item -->
                    @foreach (var item in Model.Portfolios)
                    {
                        <a href="images/@item.Photo" class="single_item link aplication col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                            <figure>
                                <img src="images/@item.Photo" alt="">
                                <figcaption>
                                    <div class="outter">
                                        <div class="inner">
                                            <span>@item.PortfolioCategory.Name</span>
                                            <h3 class="title">@item.Name</h3>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <svg class="diagonal-white" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L30 100 L100 0 Z"></path>
    </svg>
</section>
<!-- BLOG -->
<section class="blog" id="blog">
    <div class="container-fluid dgray-bg padbot_200">
        <div class="container">
            <div class="section-title dright top_120 bottom_45">
                <h2>LATEST BLOGS</h2>
            </div>
            <!-- Blogs -->
            <div class="row">
                @foreach (var blog in Model.Blogs)
                {
                    <a href="@Url.Action("Detail", "Blog",  new { slug = blog.Slug })" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-content wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-image">
                            <img src="images/@blog.Photo">
                        </div>
                        <h2 class="blog-title">@blog.Title</h2>
                        <p>@(blog.Text.Length > 120? blog.Text.Substring(0, 120) + "...":blog.Text)</p>
                        <span class="blog-info"><span>@blog.Author </span>@blog.Date.ToString("dd MMMM yyyy")</span>
                    </a>
                }


                <a asp-controller="blog" asp-action="index" class="sitebtn pull-right top_45">Load More</a>
            </div>
        </div>
        <svg class="diagonal-gray" width="100%" height="170" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L70 100 L100 0 Z"></path>
        </svg>
    </div>
</section>

<!-- CONTACT -->
<section class="contact" id="contact">
    <div class="container">

        <div class="section-title dleft top_120">
            <h2 class="bottom_30">GET IN TOUCH</h2>
        </div>
        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s">
            <!-- Contact Info -->
            <ul class="contact-info row">
                <li>@Model.Setting.Address</li>
                <li><br>@Model.Setting.Email</li>
                <li>@Model.Setting.PhoneNumber</li>
            </ul>
            <div class="social-icons top_60 row">
                @foreach (var social in Model.Socials)
                {
                    <a class="fb" href="@social.Url"><i class="fa @social.Icon" aria-hidden="true"></i></a>
                }
            </div>
        </div>
        <div class="col-md-7 col-md-offset-2 form top_30 bottom_90 wow fadeInUp" data-wow-delay="0.6s">
            <div class="page-title sub">
                <h5>leave us a message</h5>
            </div>
            <form class="contact-form top_60" method="POST">
                <div class="row">
                    <!--Name-->
                    <div class="col-md-6">
                        <input id="con_name" name="con_name" class="form-inp requie" type="text" placeholder="Name">
                    </div>
                    <!--Email-->
                    <div class="col-md-6">
                        <input id="con_email" name="con_email" class="form-inp requie" type="text" placeholder="Email">
                    </div>
                    <div class="col-md-12">
                        <!--Message-->
                        <textarea name="con_message" id="con_message" class="requie" placeholder="How can I help you?" rows="8"></textarea>
                        <button id="con_submit" class="sitebtn top_30 pull-right" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

